body{
    margin: 0;
}
.main{
    width: 100%;
    height: 100%;
}
.firstportion
{
    position: fixed;
    width: 100%;
    height: 70px;
    
   
    background-color: rgb(3, 3, 53);
}
.logo{
    margin-top: 25px ;
    margin-left: 25px;
    height: 26px;
}
.firstimage{
    height: 758.81px;
    width: 100%;
    float:left;
}

.firstbar{
    margin-left: 0px;
    float: right;
    align-items: center;
    width: 80%;
    height: 20px ;
    margin-bottom: 60px;
}
.menus{
    padding-left: 100px;
    display: flex ;
    margin-bottom: -5px;
    justify-content: space-around;
   
}
li{
    
    color: white;
    padding: 15px 15px;
    font-size: 18px;
    display: table-cell;
    font-family: 'Roboto', sans-serif;
    
}
.secondportion{
    width: 100%;
    padding-top: 0px;
    height: 978px;
    display: flex;
}
.secondfirst{
    width: 100%;

    height: 100%;
   
    background-color: rgb(47, 193, 222);

}
.rotating{
    padding-left: 250px;
    padding-top: 250px;
    height: 500px;
  
}
h2{
    text-align: center;
    margin-top: -320px;
    font-size: 70px;
    font-weight: 200px;
    font-family: 'Frank Ruhl Libre', serif;
    color: brown;
}
    


.secondsecond{
    width: 100%;
    height: 100%;
}
.paragraph{
    margin-left: 120px;
    margin-top: 170px;
    font-weight: normal;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.thirdportion{
    height: 750px;
    width: 100%;
}
.finalimage{
    width: 1349px;
    height: 758px;
}
.fourthportion{
    width: 100%;
    height: 266px;
    display: flex;
    justify-content: space-around;
}
.fourthone{
    margin-top: 35px;
    color: rgb(70, 57, 57);
    font-weight: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.fourthtwo{
    margin-left: 30px;
    margin-top: 35px;
    color: rgb(70, 57, 57);
    font-weight: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.fourththree{
    margin-right: 100px;
    margin-top: 35px;
    color: rgb(70, 57, 57);
    font-weight: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
button{
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(10, 11, 39);
}
button:hover{
    cursor: pointer;
    background-color: rgb(228, 91, 41);
    transition: background-color 0.1s;
}